<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/manage_charts_layout">

<head>
<title>Layout</title>
</head>

<body>
	<div layout:fragment="content">
		<div>
			<input type="hidden" id="emptyPropertyIndex" th:value="${propertyRateChart.emptyPropertyIndex}"/>
			<input type="hidden" id="hiredPropertyIndex" th:value="${propertyRateChart.hiredPropertyIndex}"/>
			<input type="hidden" id="bookedPropertyIndex" th:value="${propertyRateChart.bookedPropertyIndex}"/>
		</div>
		<main role="main"  >
	       <div class="table-responsive">
				<div id="propertyRatePiechart" style="width: 900px; height: 500px;"></div>
	       </div>
		</main>
		
		
		
		<script type="text/javascript">
	      google.charts.load('current', {'packages':['corechart']});
	      google.charts.setOnLoadCallback(drawChart);
	
	      function drawChart() {
			var bookedPropertyIndex=$('#bookedPropertyIndex').val();
			var hiredPropertyIndex=$('#hiredPropertyIndex').val();
			var emptyPropertyIndex=$('#emptyPropertyIndex').val();
			
	        // Create the data table with columns 'Task' and 'Percentage'
	        var data = new google.visualization.DataTable();
	        data.addColumn('string', 'Task');
	        data.addColumn('number', 'Percentage');
	        data.addRows([
	          ['Số tài sản đã thuê',parseFloat(hiredPropertyIndex) ],
	          ['Số tài sản đã cọc',parseFloat(bookedPropertyIndex) ],
	          ['Số tài sản trống',parseFloat(emptyPropertyIndex) ],
	        ]);
	
	        // Set chart options
	        var options = {
	          title:'Tình trạng tài sản',
	          pieHole: 0.4, // Set the size of the inner hole (0 for a solid pie)
	          pieSliceText: 'percentage', // Display percentage on slices
	          sliceVisibilityThreshold: 0 // Ensures slices with a value of 0 are visible
	        };
	
	        // Instantiate and draw the chart, passing in options.
	        var chart = new google.visualization.PieChart(document.getElementById('propertyRatePiechart'));
	        chart.draw(data, options);
	      }
	    </script>
	</div>
	
</body>
</html>
